@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Thin'), local('BebasNeue-Thin'), url('font/bebasneuethin.woff2') format('woff2'), url('font/bebasneuethin.woff') format('woff'), url('font/bebasneuethin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Light'), local('BebasNeue-Light'), url('font/bebasneuelight.woff2') format('woff2'), url('font/bebasneuelight.woff') format('woff'), url('font/bebasneuelight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Book'), local('BebasNeueBook'), url('font/bebasneuebook.woff2') format('woff2'), url('font/bebasneuebook.woff') format('woff'), url('font/bebasneuebook.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'bebasmiddle';
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('font/bebasneueregular.woff2') format('woff2'), url('font/bebasneueregular.woff') format('woff'), url('font/bebasneueregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'bebasbold';
    src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('font/bebasneuebold.woff2') format('woff2'), url('font/bebasneuebold.woff') format('woff'), url('font/bebasneuebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('opensans.woff2') format('woff2'), url('opensans.woff') format('woff'), url('opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
*{
    box-sizing: border-box;
}
body, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#search{
    max-width: 440px;
    width: 100%;
    position: relative;
}
#search input{
    width: 100%;
    height: 30px;
}
#search img{
    position: absolute;
    top: 2px;
    right: 2px;
}
.container{
    max-width: 1000px;
    margin: auto;
}

#header-top, #header-nav ul{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
#cart span{
    font-family: 'bebasbold';
    color:#a1a1a1;
    font-size: 30px;
    position: relative;
    bottom: 4px;
    padding-left: 5px;
}
#header-nav ul li a{
    padding: 0 20px;
    border-right: 2px solid white;
    color: white;
    text-transform: uppercase;
    font-family: 'bebasmiddle';
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    height: 18px;
    display: block;
}
#header-nav{
    background: #4ccfc1;
    padding: 10px 0;
    box-shadow: 0 1px 2px -5px black;
}
#header-nav ul li:first-child a{
    padding-left: 0;
}
#header-nav ul li:last-child a{
    border:none;
    padding-right: 0;
}
.slider-bg{
    background: #39c0bb;
}
#slider{
    display: flex;
    padding: 70px 0 55px 0;
    justify-content: space-around;
}
.slide-text{
    max-width: 380px;
}
.slide-text h2{
    text-transform: uppercase;
    color: white;
    font-family: 'bebasbold';
    font-size: 65px;
    margin: 0;
}
.slide-text p{
    font-family: 'Open Sans';
    color: white;
    line-height: 25px;
    margin: 10px 0 30px 0;
}
.slide-text button{
    height: 43px;
    width: 137px;
    background: #39c0bb; 
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    font-family: 'bebasbold';
    text-transform: uppercase;
    font-size: 27px;
    text-align: center;
    padding: 5px 0 0 0;
}
.slide-text button:focus{
    background: rgba(0, 0, 0, 0.4);
}
@media(max-width:1000px){
    #header-top{
        margin: 0 15px;
    }
    #header-nav{
        padding: 0 15px;
    }
    #header-nav ul li a{
        border:none;
        padding: 0 10px;
    }
}
@media(max-width:720px){
    #header-top, #header-nav ul{
        justify-content: center;
    }
    #search{
        margin: 15px;
    }
    #header-nav ul li{
        margin: 5px 0;
    }
    #header-nav ul li a{
        border:none;
        padding: 0 10px;
    }
}
